@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: var(--font-arabic), sans-serif;
}

.font-english {
    font-family: var(--font-english), sans-serif;
}

.font-arabic {
    font-family: var(--font-arabic), sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 10px;
    border: 1px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
    background: #00C853;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-dark-bg text-white;
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}