@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: var(--font-arabic), sans-serif;
}

.font-english {
    font-family: var(--font-english), sans-serif;
}

.font-arabic {
    font-family: var(--font-arabic), sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #020617;
}

::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #334155;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-dark-bg text-white;
    }
}